@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

@import "mixins";
@import "variables";
@import "nullstyle";


.body {
	background: url('../img/bg/landscape-bg.jpg') 0 100% no-repeat; 
	background-size: cover;
	overflow-y: hidden;
}
*::-webkit-scrollbar {
    width: .5em;
}
*::-webkit-scrollbar-track {
    -webkit-box-shadow: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 12px;
}
.main {
	min-width: 960px;
	&__container {
		padding: 34px 15px 0 15px;
		margin: 0 auto;
		@media only screen and (min-width: $break-large) {
			max-width: 960px;
		}
		@media only screen and (min-width: $break-max) {
			max-width: 1140px;
		}
	}
}
.add-list-button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-family: $main-font;
	color: #fff;
	background-color: $main-action-color;
	border-radius: 8px;
	width: 222px;
	height: 36px;
	&__icon {
		margin-right: 4.5px;
		width: 18px;
		height: 18px;
		fill: $add-icons-color;
	}
	&__text {
		margin-left: 4.5px;
	}
}
.task-lists {
	min-height: 90vh;
	max-height: 90vh;
    overflow-y: auto;
	&__list {
		margin-top: 25px;
	}
}
.list-description {
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	height: 51px;
	border-radius: $list-border-radius;
	background-color: #fff;
	&__h1 {
		flex-grow: 100;
		padding-left: 14px;
		font-family: $main-font;
		font-weight: $font-bold;
		font-size: 24px;
		color: #000;
		display: inline-block;
	}
	&__edit-title-icon {
		@include hide-element(none);
		margin-left: 14px;
		width: 16px;
		height: 16px;
		fill: #000;
	}
	&__edit-title-icon:hover {
		fill: $main-action-color;
	}
	&:hover .list-description__edit-title-icon {
		display: inline-block;
	}
	&__change-name-input {
		position: absolute;
		font-size: 20px;
		background-color: #fff;
		border-radius: 5px;
		padding-left: 20px;
		height: 36px;
		left: 13.5px;
		width: 33.333%;
		font-family: $main-font;

		&:focus {
			box-shadow: 0 0 0 3px $main-action-color;
		}
	}

	&__change-name-input_display_none {
		@include hide-element(none);
	}
	&__delete-list-icon {
		display: none;
		fill: #000;
		min-width: 12.44px;
		flex-basis: 0;
		height: 16px;
		margin-right: 20px; 
	}
	&__delete-list-icon:hover {
		fill: $main-action-color;
	}
	&:hover .list-description__delete-list-icon {
		display: inline-block;
	}
	&__expand-list-icon {
		height: 16px;
		min-width: 25.6px;
		flex-basis: 0;
		margin-right: 14px;
		transition: transform .3s ease-out;
		&_transition_rotate {
			transform: rotate(180deg); 
		}
	}
}
.tasks {
	max-height: 0;
	transition:max-height .3s ease-out;
	overflow: hidden;
	&_content_show {
		max-height: 1000px;
	}
	&__task-item {
		cursor: pointer;
		height: 38px;
		border-radius: $list-border-radius;
		background-color: #fff;
		margin: 12px 0 0 55px;
	}
	&__task-item:first-child {
		margin-top: 21px;
	}

}
.task-elements {
	height: 100%;
	display: grid;
	align-items: center;
	grid-template-columns: 23px max-content 54px auto max-content 23px;
	padding: 0 15px;
	&__radio-button {
		width: $task-icons-size;
		height: $task-icons-size;
		fill: $main-radio-color;
	}
	&__h2 {
		margin-left: 6px;
		font-family: $main-font;
		font-size: 19px;
	}
	&__priority {
		margin-left: 20px;
		transform: skew(-25deg);
		height: 100%;
		background-color: $priority-color-3;
		&_color_1 {
			@extend .priority__list-colors-item_bg-color_1;
		}
		&_color_2 {
			@extend .priority__list-colors-item_bg-color_2;
		}
		&_color_3 {
			@extend .priority__list-colors-item_bg-color_3;
		}
		&_color_4 {
			@extend .priority__list-colors-item_bg-color_4;
		}
		&_color_5 {
			@extend .priority__list-colors-item_bg-color_5;
		}
		&_color_null {
			background-color: transparent;
		}
	}
	&__rest-time {
		@extend .task-elements__h2;
		margin-right: 64px;
		grid-column: 5 / 5;
		font-style: italic;
		color: $main-time-color;
	}
	&__delete-task-icon {
		grid-column: 6 / 6;
		padding: 3px;
		height: $task-icons-size;
		width: $task-icons-size;
		border-radius: 50%;
		border: 2px solid $main-action-color;
		fill: $main-action-color;
	}
	&_state_done {
		.task-elements__h2 {
			color: $main-radio-color;
		}
		.task-elements__priority {
			background-color: $main-radio-color;
		}
		.task-elements__delete-task-icon {
			fill: #000;
			border-color: #000;
		}
	}
}
.add-task {
	&__fields {
		margin: 12px auto 3.5px auto;
		align-items: center;
		display: flex;
		border-radius: $list-border-radius;
		background-color: #fff;
		width: 268px;
		height: 38px;
		padding: 0 15px;

		&_content_empty {
			@extend .add-list-menu__input_content_empty;
		}
	}
	&__name-input {
		color: #000;
		font-size: 19px;
		font-family: $main-font;
	}
	&__add-button {
		height: 26px;
		padding: 3px 5px;
		border-radius: 50%;
		background-color: $main-action-color;
	}
	&__button-icon {
		position: relative;
		top: 2px;
		fill: #fff;
		width: 16px;
		height: 16px;
	}
}
.add-list-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 960px;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(0,0,0,.5);
	&_display_none {
		@include hide-element(!important);
	}
}
.add-list-menu {
	background-color: #fff;
	width: 560px;
	height: 239px;
	border-radius: $list-border-radius;
	font-family: $main-font;
	&__h2 {
		padding: 20px 0 0 28px;
		font-size: 24px;
		font-weight: $font-bold;

	}
	&__input {
		width: 500px;
		padding-left: 24px;
		background-color: rgba(196,196,196,.1);
		margin: 18px 29px 43px 29px;
		font-size: 24px;
		height: 65px;
		border-radius: $list-border-radius;
	}
	&__input:focus {
		box-shadow: 0 0 0 3px $main-action-color;
	}
	&__input_content_empty {
		box-shadow: 0 0 0 3px $priority-color-3;
	}
	&__buttons {
		display: flex;
		width: 100%;
		border-top: 1px solid rgba(196,196,196,.5);
	}
	&__button {
		display: flex;
		height: 59px;
		align-items: center;
		justify-content: center;
		font-size: 24px;
		width: 50%;
		background-color: #fff;
		&_action_cancel {
			border-right: 1px solid rgba(196,196,196,.5);
			border-radius: 0 0 0 12px;
		}
		&_action_create {
			color: $main-action-color;
			border-radius: 0 0 12px 0;
		}
	}
}
.task-properties {
	@extend .add-list-wrapper;
	max-height: 100vh;
	overflow: hidden;
	&__container {
		position: relative;
		border-radius: $list-border-radius;
		padding: 25px 30px;
		overflow-y: auto;
		background-color: #fff;
		max-height: 90vh;
		width: 100%;
		max-width: 760px;
		@media only screen and (min-width: $break-max) {
			max-width: 940px;
		}
	}
	&__task-description {
		margin-top: 40px;
	}
	&_display_none {
		@include hide-element(important);
	}
	&__checklist {
		@extend .task-properties__task-description;
	}
	&__priority {
		@extend .task-properties__task-description;
	}
	&__due-date {
		@extend .task-properties__task-description;
	}
}
.close-menu {
	position: absolute;
    /*display: flex;
    justify-content: flex-end;
    top: 0px;*/
    left: 95%;
	&__icon {
		cursor: pointer;
		width: 17px;
		height: 17px;
		fill: #000;
	}
}
.task-title {
	width: max-content;
}
.title {
	width: max-content;
	font-family: $main-font;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	&__icon {
		height: 17px;
		width: 17.94px;
		fill: #000;}
	&__h1 {
		display: inline-block;
		font-weight: $font-bold;
		font-size: 24px;
		margin-left: 17px;
	}
	&__title-edit-input {
		@extend .list-description__change-name-input;
		&_display_none {
			@include hide-element(none);
		}
		&_content_empty {
			@extend .add-list-menu__input_content_empty;
		}
	}
}
.task-description {
	font-family: $main-font;
	&__text {
		@extend .checklist__h2;
		margin: 15px 0 0 17px;
		&_display_none {
			@include hide-element(none);
		}
	}
	&__textarea-container {
		margin: 15px 0 0 34.94px;
		&_display_none {
			@include hide-element(none);
		}
	}
	&__textarea {
		padding: 19px 24px; 
		width: 100%;
		resize: none;
		height: 215px;
		border-radius: $list-border-radius;
		background-color: $task-properties-elem-bg;
		font-size: 18px;
	}
}
.checklist {
	font-family: $main-font;
	&__task-parts-list {
		width: 50%;
		display: flex;
		flex-direction: column;
	}
	&__task-parts-item {
		border-radius: 3px;
		height: 38px;
		position: relative;
		display: grid;
		align-items: center;
		grid-template-columns: 15px max-content auto 15px;
	}
	&__checklist-done-item {
		cursor: pointer;
	}
	&__task-parts-item:hover {
	box-shadow: -8px 0px 0px 0px $task-properties-elem-bg, 8px 0px 0px 0px $task-properties-elem-bg;
	background-color: $task-properties-elem-bg;
	}
	&__add-checklist-item {
		margin: 5px 0 0 35px;
	}
	&__task-parts-item_state_done {
		cursor: auto;
		.checklist__checklist-done-item {
			border-color: $priority-color-1;
			background-color: $priority-color-1;
		}
		.checklist__done-icon {
			fill: #fff;

		}
		.checklist__delete-icon {
			fill: $main-radio-color;
		}
		.checklist__delete-icon:hover {
			fill: #000;
		}
		.checklist__h2 {
			color: $main-radio-color;
			text-decoration: line-through;
		}
		&:hover {
			background-color: transparent;
			box-shadow: none;
		}
	}
	/*&__task-parts-item_state_done:before {
		z-index: 1000;
		content: '';
		width: 690px;
		height: 1px;
		position: absolute;
		top: 18.5px;
		left: -7px;
		background-color: $main-radio-color;
		@media only screen and (min-width: $break-max) {
			width: 870px;
		}
	}*/
	&__checklist-done-item {
		width: 15px;
		height: 15px;
		border: 2px solid $main-radio-color;
		background-color: transparent;
	}
	&__h2 {
		padding-left: 18px;
		font-size: 19px;
	}
	&__delete-icon {
		cursor: pointer;
		z-index: 2000;
		width: 15px;
		height: 15px;
		fill: #000;
		grid-column-start: 4;
	}
	&__done-icon{
		width: 13.03px;
		height: 9.94px;
		fill: none;
		position: relative;
		top: -5.4px;
		left: -0.6px;
	}
	&__task-properties-button {
		margin: 18px 0 0 35px;
	}
}
.add-checklist-item {
	&__user-input {
		margin-bottom: 10px;
		font-size: 19px;
		background-color: #fff;
		border-radius: 5px;
		padding-left: 20px;
		height: 30px;
		left: 8.5px;
		width: 33.333%;
		font-family: "Roboto", Helvetica, Arial, sans-serif;
		&:focus {
			box-shadow: 0 0 0 2px $main-action-color;
		}
		&_display_none {
		@include hide-element(none);
		}
		&_content_empty {
			@extend .add-list-menu__input_content_empty;
		}
	}
	&__add-close-toggle {}
	&__task-properties-button {}
	&__delete-icon {
		@extend .checklist__delete-icon;
		margin-left: 10px;
		&_display_none {
		@include hide-element(none);
		}
	}
}


.task-properties-button {
	font-family: $main-font;
	padding: 7px 16px;
	background-color: $task-properties-elem-bg;
	font-size: 19px;
}

.priority {
	&__list-colors {
		@extend .task-description__textarea-container;
	}
	&__list-colors-item {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 15px;
		margin-top: 13px;
		cursor: pointer;
		height: 43px;
		width: 272px;
		border-radius: 5px;
			&_bg-color_1 {
				background-color: $priority-color-1;
			}
			&_state_selected {
				.priority__choose-color-icon {
					fill: #fff;
				}
			}
			&_bg-color_2 {
				background-color: $priority-color-2;
			}
			&_bg-color_3 {
				background-color: $priority-color-3;
			}
			&_bg-color_4 {
				background-color: $priority-color-4;
			}
			&_bg-color_5 {
				background-color: $priority-color-5;
			}
	}
	&__list-colors-item:first-child {
		margin: none;
	}
	&__choose-color-icon {
		width: 17px;
		height: 17px;
		fill: none;
	}

}

.due-date {
	position: relative;
	font-family: $main-font;
	&__user-date {
		font-style: italic;
		position: absolute;
		text-align: right;
		font-size: 18px;
		color: $main-radio-color;
		width: 100%;
		top: 10px;
	}
	&__task-properties-button {
		@extend .checklist__task-properties-button;
		&_display_none {
			@include hide-element(none);
		}
	}
	&__set-due-form {

	}
}
.set-due-form {
	font-family: $main-font;
	margin: 5px 0 0 35px;
	&_display_none {
		@include hide-element(none);
	}
	&__set-time-label {
		font-weight: $font-bold;
		display: block;
		color: #000;
		font-size: 19px;
	}
	&__confirm-btns {
		width: 272px;
		display: flex;
		justify-content: space-between; 
		margin-top: 15px;
	}
	&__due-input {
		padding: 0 10px;
		border-radius: 5px;
		font-size: 18px;
		width: 272px;
		height: 43px;
		border: 2px solid $main-radio-color;
		margin-top: 5px;
		&:focus {
			border-color: $main-action-color;
		}
		&_content_empty {
			@extend .add-list-menu__input_content_empty;
		}
	}
	
}
.d-button {
	color: #fff;
	min-width: 105px;
	font-size: 18px;
	border-radius: 5px;
	padding: 5px 0;
	&_action_save {
		background-color: #4CAF50;
	}
	&_action_remove {
		background-color: #F44336;
	}
}











