@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

@import "nullstyle";
@import "variables";

.body {
	background-image: url('../img/bg/landscape-bg.jpg');
	background-size: cover;
}
.main {
	min-width: 960px;
	&__container {
		padding: 34px 15px 0 15px;
		margin: 0 auto;
		@media only screen and (min-width: $break-large) {
			max-width: 960px;
		}
		@media only screen and (min-width: $break-max) {
			max-width: 1140px;
		}
	}
}
.add-list-button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-family: $main-font;
	color: #fff;
	background-color: $main-action-color;
	border-radius: 8px;
	width: 222px;
	height: 36px;
	&__icon {
		margin-right: 4.5px;
		width: 18px;
		height: 18px;
		fill: $add-icons-color;
	}
	&__text {
		margin-left: 4.5px;
	}
}
.task-lists {
	&__list {
		margin-top: 25px;
	}
}
.list-description {
	cursor: pointer;
	display: flex;
	align-items: center;
	height: 51px;
	border-radius: $list-border-radius;
	background-color: #fff;
	&__h1 {
		padding-left: 14px;
		font-family: $main-font;
		font-weight: $font-bold;
		font-size: 24px;
		color: #000;
		display: inline-block;
		flex-grow: 100;
	}
	&__change-name-input {}
	&__change-name-input_display_none {
		display: none;
	}
	&__delete-list-icon {
		display: none;
		fill: #000;
		flex-grow: 1;
		min-width: 12.44px;
		flex-basis: 0;
		height: 16px;
		margin-right: 20px; 
	}
	&__delete-list-icon:hover {
		fill: #4527A0;
	}
	&:hover .list-description__delete-list-icon {
		display: inline-block;
	}
	&__expand-list-icon {
		height: 16px;
		min-width: 25.6px;
		flex-basis: 0;
		margin-right: 14px;
	}
}
.tasks {
	&__task-item {
		cursor: pointer;
		height: 38px;
		border-radius: $list-border-radius;
		background-color: #fff;
		margin: 12px 0 0 55px;
	}
	&__task-item:first-child {
		margin-top: 21px;
	}
	&__task-elements {
		height: 100%;
		display: grid;
		align-items: center;
		grid-template-columns: 23px max-content 54px auto max-content 23px;
		padding: 0 15px;
	}
	&__radio-button {
		width: $task-icons-size;
		height: $task-icons-size;
		fill: $main-radio-color;
	}
	&__h2 {
		margin-left: 6px;
		font-family: $main-font;
		font-size: 19px;
	}
	&__priority {
		margin-left: 20px;
		transform: skew(-25deg);
		height: 100%;
		background-color: $priority-color-5;
	} 
	&__rest-time {
		@extend .tasks__h2;
		margin-right: 64px;
		grid-column: 5 / 5;
		font-style: italic;
		color: $main-time-color;
	}
	&__delete-task-icon {
		grid-column: 6 / 6;
		padding: 3px;
		height: $task-icons-size;
		width: $task-icons-size;
		border-radius: 50%;
		border: 2px solid $main-action-color;
		fill: $main-action-color;
	}
}
.add-task {
	&__fields {
		margin: 12px auto 0 auto;
		align-items: center;
		display: flex;
		border-radius: $list-border-radius;
		background-color: #fff;
		width: 268px;
		height: 38px;
		padding: 0 15px;
	}
	&__name-input {
		color: #000;
		font-size: 19px;
		font-family: $main-font;
	}
	&__add-button {
		height: 26px;
		padding: 3px 5px;
		border-radius: 50%;
		background-color: $main-action-color;
	}
	&__button-icon {
		position: relative;
		top: 2px;
		fill: #fff;
		width: 16px;
		height: 16px;
	}
}
.add-list-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 960px;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(0,0,0,.5);
	&_display_none {
		display: none;
	}
}
.add-list-menu {
	background-color: #fff;
	width: 560px;
	height: 239px;
	border-radius: $list-border-radius;
	font-family: $main-font;
	&__h2 {
		padding: 20px 0 0 28px;
		font-size: 24px;
		font-weight: $font-bold;

	}
	&__input {
		width: 500px;
		padding-left: 24px;
		background-color: rgba(196,196,196,.1);
		margin: 18px 29px 43px 29px;
		font-size: 24px;
		height: 65px;
		border-radius: $list-border-radius;
	}
	&__input:focus {
		border: 3px solid $main-action-color;
	}
	&__buttons {
		display: flex;
		width: 100%;
		border-top: 1px solid rgba(196,196,196,.5);
	}
	&__button {
		display: flex;
		height: 59px;
		align-items: center;
		justify-content: center;
		font-size: 24px;
		width: 50%;
		background-color: #fff;
		&_action_cancel {
			border-right: 1px solid rgba(196,196,196,.5);
			border-radius: 0 0 0 12px;
		}
		&_action_create {
			color: $main-action-color;
			border-radius: 0 0 12px 0;
		}
	}
}





