$break-max: 1200px;
$break-large: 992px;
$main-action-color: #4527A0;
$add-icons-color: #fff;
$main-font: 'Roboto', Helvetica, Arial, sans-serif;
$main-radio-color: #9E9E9E;
$main-time-color: #9E9E9E;
$priority-color-5: #F44336;
$task-icons-size: 23px;
$list-border-radius: 12px;
$font-bold: 500;