$break-max: 1200px;
$break-large: 992px;
$main-action-color: #4527A0;
$add-icons-color: #fff;
$main-font: 'Roboto', Helvetica, Arial, sans-serif;
$main-radio-color: #9E9E9E;
$main-time-color: #9E9E9E;
$priority-color-1: #4CAF50;
$priority-color-2: #FFEB3B;
$priority-color-3: #F44336;
$priority-color-4: #9C27B0;
$priority-color-5: #2196F3;
$task-icons-size: 23px;
$list-border-radius: 12px;
$font-bold: 500;
$task-properties-elem-bg: rgba(196,196,196,.25);